body.platform-indicator {
  margin-bottom: 30px;
}

#platform-indicator {
  background: #201f1f url("platform-logo.png") no-repeat 5px 5px;
  border-top: 1px solid #2c2b2b;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: .1em;
  left: 0;
  line-height: 25px;
  padding: 5px 10px 5px 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}

#platform-indicator-infos {
  display: none;
}

#platform-indicator:hover #platform-indicator-infos {
  display: inline-block;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  #platform-indicator {
    background: #201f1f url("platform-logo2x.png") no-repeat 5px 5px;
    background-size: 25px;
  }
}
